<a href="https://colab.research.google.com/github/kanikaguptakk/learn_py/blob/main/Advanced_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# input-to directly get an input from user

a=input("How r u")
print(a + " "+ "tell me ...")
b=input("how old r u")
print(b + " " +"ohh,is it !")

# data types--->>
# int
# flaot
# str
# bool
# set
# tuple
# list
# dict

# Classes(custom data types)


# Specailized data types(import from library)-we can directly use by Importing
# -modules

# none

In [ ]:
a=input("sum nums")
print(a)
print(type(a))
print(type(4+5))

print(3 ** 4)    # **-raise to the power of
print(4 ** 3)
print(3 // 4)    # //-simplifies to nearest integer of quatient
print(4 // 3)
print(4/3)       #quotient
print(4%3)       #remainder

In [ ]:
print(bin(17))   #to convert int to binary
print(int("10001",10))    # we passed a string as an argument to the int() function and printed it.
                          #to convert binary to int mentioning base n

0b10001
10001

In [ ]:
_Kanika_Gupta=30     #var name starting with _ are known as private var
print(_Kanika_Gupta)

30

In [ ]:
p,q,r=2,3,4
print(q)

3

In [ ]:
#Expression - a piece of code that produces a value
#Statement- consist of expression and terms
_Kanika_Gupta=45
Mamta_Gupta=_Kanika_Gupta/4       #_Kanika_Gupta/4 (expression) and Mamta_Gupta=_Kanika_Gupta/4 (Statement)
print(Mamta_Gupta)

11.25

In [ ]:
#Argumented assignment operator
_Kanika_Gupta=8
_Kanika_Gupta/=3
print(_Kanika_Gupta)

2.6666666666666665

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn